.dropdown li{
    margin-left: 12px;
    margin-bottom: 5px;
}

#appcolumn1, #appcolumn2, #appcolumn3{
    padding-left: 1px !important;
    padding-right: 1px !important;
}
#pisSpredsheetGoogle{
    height:390px;
    width: 100%;
}
#editor{
    height:390px;
}

.fa-files-o{
    margin-left: 60px !important;
}

