<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Fixed Top Navbar Example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/libs/jstree/themes/default/style.min.css" />
    <link rel="stylesheet" href="/static/libs/slickgrid/slick.grid.css" />
    <link rel="stylesheet" href="static/libs/slickgrid/css/smoothness/jquery-ui-1.8.16.custom.css" type="text/css"/>
    <!--link rel="stylesheet" media="screen" href="static/libs/handsontable/jquery.handsontable.full.css"-->
    <!--link rel="stylesheet" media="screen" href="static/libs/handsontable/extensions/jquery.handsontable.bootstrap.css"-->
    <link rel="stylesheet" href="/static/app.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Codification Editor</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="active" href="#about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container" id="mainblock">
        {% block main %}{% endblock %}
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="/static/libs/jstree/jstree.min.js"></script>
    <!--script src="static/libs/handsontable/jquery.handsontable.full.js"></script-->
    <script src="static/libs/slickgrid/lib/firebugx.js"></script>
    <script src="static/libs/slickgrid/lib/jquery-ui-1.8.16.custom.min.js"></script>
    <script src="static/libs/slickgrid/lib/jquery.event.drag-2.2.js"></script>
    <script src="static/libs/slickgrid/slick.core.js"></script>
    <script src="static/libs/slickgrid/plugins/slick.cellrangedecorator.js"></script>
    <script src="static/libs/slickgrid/plugins/slick.cellrangeselector.js"></script>
    <script src="static/libs/slickgrid/plugins/slick.cellselectionmodel.js"></script>
    <script src="static/libs/slickgrid/slick.formatters.js"></script>
    <script src="static/libs/slickgrid/slick.editors.js"></script>
    <script src="static/libs/slickgrid/slick.grid.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/libs/ace/ace.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>

